In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [3]:
df = pd.read_csv('../data/raw/data.csv')
df.head()

,Unnamed: 0,size_sq_ft,propertyType,bedrooms,latitude,longitude,localityName,suburbName,cityName,price,companyName,closest_mtero_station_km,AP_dist_km,Aiims_dist_km,NDRLW_dist_km
0,0,400,Independent Floor,1,28.641010,77.284386,Swasthya Vihar,Delhi East,Delhi,9000,Dream Homez,0.577495,21.741188,11.119239,6.227231
1,1,1050,Apartment,2,28.594969,77.298668,mayur vihar phase 1,Delhi East,Delhi,20000,Rupak Properties Stock,0.417142,21.401856,9.419061,9.217502
2,2,2250,Independent Floor,2,28.641806,77.293922,Swasthya Vihar,Delhi East,Delhi,28000,Aashiyana Real Estate,0.125136,22.620365,11.829486,7.159184
3,3,1350,Independent Floor,2,28.644363,77.293228,Krishna Nagar,Delhi East,Delhi,28000,Shivam Real Estate,0.371709,22.681201,11.982708,7.097348
4,4,450,Apartment,2,28.594736,77.311150,New Ashok Nagar,Delhi East,Delhi,12500,Shree Properties,1.087760,22.592810,10.571573,10.263271

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17890 entries, 0 to 17889
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                17890 non-null  int64
 1   size_sq_ft                17890 non-null  int64
 2   propertyType              17890 non-null  object
 3   bedrooms                  17890 non-null  int64
 4   latitude                  17890 non-null  float64
 5   longitude                 17890 non-null  float64
 6   localityName              17890 non-null  object
 7   suburbName                17890 non-null  object
 8   cityName                  17890 non-null  object
 9   price                     17890 non-null  int64
 10  companyName               17890 non-null  object
 11  closest_mtero_station_km  17890 non-null  float64
 12  AP_dist_km                17890 non-null  float64
 13  Aiims_dist_km             17890 non-null  float64
 14  NDRLW_dist_km             17890 non-null  float64
dtypes: float64(6), int64(4), object(5)
memory usage: 2.0+ MB

In [5]:
count = df.isnull().sum()
if count.sum() > 0:
    print(count[count > 0])
else:
    print("✅ No missing values found!")

✅ No missing values found!

In [6]:
print("Summary statistics for numeric columns:")
df.describe()

Summary statistics for numeric columns:

,Unnamed: 0,size_sq_ft,bedrooms,latitude,longitude,price,closest_mtero_station_km,AP_dist_km,Aiims_dist_km,NDRLW_dist_km
count,17890.000000,17890.000000,17890.000000,17890.000000,17890.000000,1.789000e+04,17890.000000,17890.000000,17890.000000,17890.000000
mean,8944.500000,1176.342091,2.168865,28.609382,77.168368,3.345196e+04,0.931495,13.727784,11.238134,11.421994
std,5164.542493,873.751044,0.971414,0.099547,0.097611,8.802054e+04,8.287856,11.357063,11.167202,11.063323
min,0.000000,100.000000,1.000000,19.185120,73.213829,1.200000e+03,0.000692,1.784779,0.634508,0.722023
25%,4472.250000,620.000000,1.000000,28.562540,77.103718,1.350000e+04,0.457782,11.018715,7.769267,7.986813
50%,8944.500000,900.000000,2.000000,28.611803,77.168755,2.200000e+04,0.698560,13.184035,10.515524,11.015571
75%,13416.750000,1600.000000,3.000000,28.651593,77.224998,3.500000e+04,1.087740,17.163502,15.514042,15.192483
max,17889.000000,16521.000000,15.000000,28.872597,80.358467,5.885646e+06,1096.479453,1109.894053,1115.621439,1123.778457

In [7]:
print("🧹 Checking for duplicate rows...")

duplicates = df.duplicated().sum()
print(f"Found {duplicates} duplicate rows.")

if duplicates > 0:
    print(f"⚠️ Dropping {duplicates} duplicate rows...")
    df = df.drop_duplicates()
    print(f"✅ New shape after dropping duplicates: {df.shape}")
else:
    print("✅ No duplicate rows found.")

🧹 Checking for duplicate rows...
Found 0 duplicate rows.
✅ No duplicate rows found.

### Dropping Columns

In [8]:
df['cityName'].value_counts()

Delhi    17890
Name: cityName, dtype: int64

In [9]:
df['suburbName'].value_counts()

Delhi South         3749
Delhi Central       2732
Other               2706
Dwarka              2435
West Delhi          2222
Delhi East          1933
North Delhi         1252
Delhi West           314
Rohini               274
Delhi North          176
South West Delhi      86
North West Delhi      11
Name: suburbName, dtype: int64

In [10]:
print("\n🗑️ Dropping unnecessary columns...")

# Based on original notebook: these columns are not needed for modeling
columns_to_drop = [
    'Unnamed: 0',
    'latitude',
    'longitude',
    'cityName',
    'companyName',
    'closest_mtero_station_km',
    'AP_dist_km',
    'Aiims_dist_km',
    'NDRLW_dist_km',
    'suburbName'
]

# Only drop columns that exist in the dataframe
columns_to_drop = [col for col in columns_to_drop if col in df.columns]

df = df.drop(columns=columns_to_drop)
print(f"✅ Dropped {len(columns_to_drop)} columns.")
print(f"Remaining columns: {list(df.columns)}")

🗑️ Dropping unnecessary columns...
✅ Dropped 10 columns.
Remaining columns: ['size_sq_ft', 'propertyType', 'bedrooms', 'localityName', 'price']

In [11]:
df.head()

   size_sq_ft       propertyType  bedrooms         localityName  price
0         400  Independent Floor         1       Swasthya Vihar   9000
1        1050          Apartment         2  mayur vihar phase 1  20000
2        2250  Independent Floor         2       Swasthya Vihar  28000
3        1350  Independent Floor         2        Krishna Nagar  28000
4         450          Apartment         2      New Ashok Nagar  12500

In [12]:
df.shape

(17890, 5)

In [13]:
df.to_csv("../data/interim/cleaned_house_data_v1.csv", index=False)
print("✅ Data preprocessing complete!")

✅ Data preprocessing complete!